* {position: relative}

.strips-container {
  display: flex;
  justify-content: center;
}

.strips {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: flex-end;
  border-left: 50px solid lightgray;
  border-right:50px solid lightgray;
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}

.strip {
  position: absolute;
  z-index: 1;
}

.zero {
  position: absolute;
  border-top: dotted;
  height: 0px;
}

.bar {
  position: relative;
  border-top: 1px solid;
}

.segment {
  box-sizing: border-box;
  border-top: 1px solid;
  position: absolute;
  height: 0px;
}

.header {
  display: flex;
  justify-content: flex-start;
}

div.IC {
  display: inline-block;
  width: 20px;
  padding: 0;
}

div.strips-container input {
  height: 20px;
  margin: 0;
  transform: rotate(-90deg);
}

/* .spacer {
  width: 10px;
} */

.sliders {
  display: flex;
  justify-content: flex-start;
}

.sliders>* {padding: 0 20px}

.a {color: red}
.v {color: green}
.x {color: blue}

.bothSides {
  display: flex;
  justify-content: space-around;
}

tr.spacer {height: 40px}
